img {
    border-radius: 100%;
    border: 1px solid black; 
    height: 250px;
    width: 250px;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

.space {
    margin: 10px;
}
